############################################
# PYTHON
############################################
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
pip-wheel-metadata/
dist/
build/

############################################
# LAMBDA BUILD ARTIFACTS
############################################
*.zip
package/
build-lambda/
*.egg-info/

############################################
# TERRAFORM — NEVER COMMIT LOCAL STATE
############################################
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
terraform.tfvars
*.tfvars

############################################
# EDITORS / IDE
############################################
.vscode/
.idea/

############################################
# OS GARBAGE
############################################
.DS_Store
Thumbs.db

############################################
# LOGS / TEMP
############################################
*.log
logs/
tmp/
